snippet tds "typedef struct"
typedef struct $1 {
} $1;
endsnippet

snippet st "struct"
struct $1 {
};
endsnippet

snippet sta "anonymous struct"
struct {
	$1
};
endsnippet

snippet tdu "typedef union"
typedef union $1 {
} $1;
endsnippet

snippet un "union"
union $1 {
};
endsnippet

snippet una "anonymous union"
union {
	$1
};
endsnippet

snippet en "enum"
enum $1 {
};
endsnippet

